body {
   background-color: whitesmoke; 
   margin: auto;
}

h1 {
    font-family: Raleway, Tahoma;
    font-weight: bolder;
    font-style: italic;
    font-size: 56px;
    line-height: 50%;
    padding-top: 30px;
}

h2 {
    font-family: Tahoma;
    font-weight: bolder;
    font-style: italic;
}

h3 {
    padding: 0% 0%;
    line-height: 20%;
    font-family: Tahoma;
    font-style: italic;
}

.logo-image:hover {
/*    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0% 38%);*/
 /*   border-left: 10px solid #27474e;
    border-top: 10px solid #27474e;*/
}

.navbar {
    margin: 1px;
    padding-top: -10px;
    padding-bottom: 1px;
    color: darkgrey;
}

.navbar a{
    color: #27474e;
    font-style: normal;
    margin: 1px 5px;
    border: 5px solid #27474e;
}

.navbar a:hover{
    color: black;
    background-color: lightgrey;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.bar {
    border-bottom: 2em solid #c45baa;
}

.topbar {
    margin: 0 auto;
    display: inline;
    text-align: left;
}

.content {
    border: 8px solid #27474e;
    margin: 0 10%;
    padding: 10px;
    font-size: larger;
}

.content p{
    
}

.project-li {
    padding: 10px;
    display: block;
    font-size: 90%;
    margin: 10px auto;
    padding-bottom: 50px;
}

.project-li img{
    display: inline; float:left; padding: 10px 20px; min-width: 180px; image-rendering: crisp-edges;
}

.blocky {
    padding: 0% 0%;
    margin-top: 0px;
    font-size: 300%;
    font-style: bold;
    font-weight: 600;
    color: #c45baa;
}

.smalltext {
    color: grey;
    margin: 0 auto;
    font-size: small;
    padding-top: 0px;
    margin-top: 0px;
}

h3 {
    display: inline;
}

.music-list{
    display: inline-block;
}

.music-list ul{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.music-list a{
    line-height: 200%;
    border: 1px solid #27474e;
    margin: 12px 5px;
    padding: 3px 5px;
    max-width: 40%;
}

.music-list button {
    height: 2.2em;
    background-color: white;
    border: 1px solid #27474e;
}