body {
    background-color: #1E1042;
    margin: 0;
    padding: 0;
    color:white;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

h1 {
    font-family: Raleway, Tahoma;
    font-weight: bolder;
    font-style: italic;
    font-size: 56px;
    line-height: 100%;
    color: white
}

p {
    text-align: justify;
    font-size: 20px;
}

svg {
    margin: 0;
    size: 100% 30%;
    padding: 0;
}

.nav-button {
    color: white;
}

.floating-icons-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -40%;
    margin-bottom: -5%;
    width: 30%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10% 10%;
}

.floating-icon {
    --random_rot: 0deg;
    flex-grow: 1;
    margin: 25%;
    width: 1fr;
    transform: rotate(--random_rot)
}