@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

body {
    background-color: #1E1042;
    margin: 0;
    padding: 0;
    color:white;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    animation: fade-in 0.3s;
}

h1 {
    font-family: Raleway, Tahoma;
    font-weight: bolder;
    font-style: italic;
    font-size: 56px;
    line-height: 100%;
    color: white
}

svg {
    margin: 0;
    size: 100% 30%;
    padding: 0;
    border-radius: 10px;
}

button {
    background-color: #1E1042;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    border-width: 5px;
    border-color: white;
}

a {
    color: white;
    font-weight: bold;
}

.light-dark-mode-button {
    width: 1.25%;
    height: auto;
    position: absolute;
    left: 70%;
}

.light-dark-mode-button:hover {
    width: 1.5%;
    height: auto;
}

.light-dark-mode-button:active {
    animation: rotate-light 1s;
}


.nav-button {
    color: white;
}

.floating-icons-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: -27.5%;
    margin-bottom: 20%;
    margin-left: 10%;
    margin-right: 10%;
    animation: fade-in 0.8s;
}

.floating-icon {
    margin-left: 25%;
    margin-right: 25%;
    width: 30%;
    height: auto;
    transform: rotate(--random_rot);
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.blocky {
    font-family: Raleway, Tahoma;
    padding: 0% 0%;
    margin-top: 0px;
    font-size: 300%;
    font-style: bold;
    font-weight: 600;
    color: #c45baa;
}

.smalltext {
    color: lightgray;
    margin: 0 auto;
    font-size: small;
    padding-top: 0px;
    margin-top: 0px;
}

h3 {
    display: inline;
}

h4 {
    text-align: center;
}

.music-list{
    display: inline-block;
}

.music-list ul{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.music-list a{
    line-height: 200%;
    border: 1px solid #27474e;
        margin: 12px 5px;
    padding: 3px 5px;
    max-width: 40%;
}

.music-list button {
    height: 2.2em;
    background-color: white;
    border: 1px solid #27474e;
}

@media (max-width: 800px) {
    .container {
      flex-direction: column;
    }

    .sidenav {
        display: none;
    }

}

.inner-body {
    margin: auto; 
    width: 50%;
}

  .content {
    background-color: #1E1042;
    border: 10px solid white;
    border-radius: 10px;
    padding: 20px;
    font-size: larger;
    margin-bottom: 20px;
    min-width: 200px;
}

.project-li {
    padding: 10px;
    display: block;
    font-size: 90%;
    margin: 10px auto;
    padding-bottom: 50px;
}

.project-li img{
    display: inline; float:left;  width: 180px; image-rendering: crisp-edges;
}

.cart-image {
    padding: 10px 10px;
    display: inline;
}

.album-cover {
    padding: 0px; 
    margin: 10px; 
    border: 5px solid black
}


.project-screens {
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-toggle-box {
    float: right; 
    line-height: 32px; 
    margin-right: 20px; 
    padding-left: 10px;
    border-left: 12px solid white; 
    border-top: 12px solid white;
    border-radius: 8px;
}

.view-icon {
    float: right;
    width: 32px;
    height: 32px;
    cursor: pointer;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    margin-left: 25px;
}

.cart-grid-bg {
    background-color: white;
    border: 3px white;
    border-radius: 10px;
    height: 210px;
    margin: 20px;
}

.project-cart-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 3px white;
    border-radius: 10px;
    width: 100%;
   
}

.project-cart-elem {
    margin: 30px;
    flex-shrink: 1;
    width: 150px;
    opacity: 0.8;
}
.project-cart-elem:hover {
    animation: enlarge 0.15s;
    transform: scale(115%, 115%);
    opacity: 1;
    cursor: pointer;
}
.project-cart-elem:active {
    animation: shake_a_bit 0.15s;
    animation: dunk 0.15s;
    transform: scale(115%, 115%);
}

@media (max-height: 900px) {
    #bottom-visual {
        display: none;
    }   
}
@media only screen and (max-width: 1200px) {
    body {
        font-size: 32px;
    }
    .inner-body {
        width: 96%;
        padding: 2%;
    }
    .content {
        width: 95%;
        margin-left: 0%;
        margin-right: 0%;
        padding: 10px;
    }
    .project-cart-elem {
        width: 92px;
        height: 92px;
        margin: 15px;
    }
    .project-cart-grid {
        height: 126px;
        padding: 0px;
    }
    .cart-grid-bg {
        height: 20%;
    }
}

@keyframes shake_a_bit {
0% { transform: scale(100%, 100%)}
30% {transform: scale(120%, 80%)}
60% {transform: scale(90%, 110%)}
100% { transform: scale(100%, 100%)}
}

@keyframes enlarge {
    0% { transform: scale(100%, 100%)}
    100% { transform: scale(115%, 115%)} 
}

@keyframes dunk {
    0% {transform: translate(0%, 15%)}
    100% {transform: translate(0%, 0%)}
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-out-in {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes minimize-carts {
    0% {height: 210px;}
    100% {height: 20px;}
}

@keyframes maximize-carts {
    0% {height: 20px;}
    80% {height: 210px;}
    100% {height: 100%;}
}