@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");
html {
  background-color: #ebebeb;
  color: #2b2b2b;
}

@media (max-width: 700px) {
  header {
    max-width: 80%;
  }
}

body {
  border-radius: 20px;
  padding: 30px 40px;
  background-color: white;
  margin: 10px;
  margin: 20px auto;
  font-family: Atkinson Hyperlegible, Helvetica, sans-serif;
  font-size: 1.25em;
  width: 90%;
  max-width: 1000px;
  -webkit-filter: drop-shadow(0px 10px 4px #CCCCCC);
          filter: drop-shadow(0px 10px 4px #CCCCCC);
  -webkit-animation: fade-in 0.25s;
          animation: fade-in 0.25s;
}

@media (max-width: 700px) {
  body {
    max-width: 700px;
    width: 90%;
    margin: 0px;
    border-radius: 0px;
    -webkit-filter: none;
            filter: none;
    padding: 10% 5%;
    font-size: 1.5em;
  }
}

img {
  max-width: 1000px;
}

@media (max-width: 700px) {
  img {
    max-width: 80%;
  }
}

video {
  max-width: 1000px;
}

@media (max-width: 700px) {
  video {
    padding: 2px;
    max-width: 90%;
  }
}

h1 {
  font-size: 2em;
  border-left: 10px solid #2b2b2b;
  padding-left: 15px;
}

.index-flex, .project-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px auto;
}

.spacious-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 700px) {
  .col {
    padding: 2px;
    width: 90%;
    max-width: 90%;
  }
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 5px solid black;
}

.index-card {
  border-radius: 20px;
  padding: 30px 40px;
  background-color: #ebebeb;
  margin: 10px;
  width: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.index-card h2 {
  display: block;
  padding-top: 60px;
  font-weight: bolder;
}

.index-card li {
  text-align: left;
}

.index-card a {
  text-decoration: none;
}

@media (max-width: 700px) {
  .index-card {
    padding: 5px;
    max-width: 90%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

.highlighted-project-desc {
  max-width: 470px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 700px) {
  .highlighted-project-desc {
    padding: 2px;
    max-width: 100%;
    width: 90%;
  }
}

.project-info-summary {
  border-bottom: 2px solid #2b2b2b;
}

.project-info-summary * {
  margin: 3px;
}

.tools-list {
  list-style-type: none;
  padding: 0;
}

.tools-list li {
  display: inline-block;
  background-color: #2b2b2b;
  color: white;
  padding: 2px 4px;
  font-size: 0.75em;
  margin: 2px;
}

.project-card {
  border-radius: 20px;
  padding: 30px 40px;
  background-color: #ebebeb;
  margin: 10px;
  color: #2b2b2b;
  width: 400px;
  max-width: 200px;
  height: 300px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: left;
  -webkit-filter: drop-shadow(0px 10px 4px #CCCCCC);
          filter: drop-shadow(0px 10px 4px #CCCCCC);
}

.project-card h3 {
  margin-bottom: 0px;
}

.project-card h4 {
  margin-top: 0px;
  font-weight: lighter;
  font-size: 0.8em;
}

@media (max-width: 700px) {
  .project-card {
    max-width: 80%;
    width: 70%;
    height: 400px;
  }
}

.project-card:hover {
  background-color: white;
  -webkit-animation: hover-up 0.25s;
          animation: hover-up 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  cursor: pointer;
}

.highlighted-project-card {
  border-radius: 20px;
  padding: 30px 40px;
  background-color: #8A0078;
  margin: 10px;
  color: white;
}

.highlighted-project-card a {
  color: lightblue;
}

.picture-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.picture-gallery img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: auto;
  margin: 10px;
}

.project-card-banner {
  width: 120%;
  border-radius: 20px;
  margin-left: -10%;
  margin-top: -10%;
}

@media (max-width: 700px) {
  .project-card-banner {
    width: 600px;
    margin: 0px;
  }
}

.album-cover {
  width: 100%;
  height: auto;
  border: 5px solid black;
}

button {
  border-radius: 10px;
  background-color: purple;
  padding: 10px 30px;
  margin: 10px 0px;
  display: block;
  font-size: 1em;
  border: none;
  color: white;
}

button:hover {
  background-color: white;
  cursor: pointer;
  border: 2px solid;
  margin-bottom: 6px;
  border-color: purple;
  color: purple;
}

.button-card {
  border-radius: 20px;
  padding: 30px 40px;
  background-color: white;
  margin: 10px;
  padding: 0%;
  width: 95%;
  min-height: 300px;
  color: white;
  font-weight: bold;
  -webkit-box-shadow: inset 0 0 10px #222222;
  box-shadow: inset 0 0 10px #222222;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../res/test-bg.png);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../res/test-bg.png);
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
}

.button-card p {
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
  font-weight: lighter;
}

.button-card:hover {
  -webkit-box-shadow: inset 0 0 20px #222222;
  box-shadow: inset 0 0 20px #222222;
  -webkit-animation: grow-bg-image ease-out 0.5s;
          animation: grow-bg-image ease-out 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  cursor: pointer;
}

blockquote {
  background-color: lightgrey;
  border-left: 4px solid grey;
  padding: 10px;
}

.project-info-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-info-gallery img {
  max-width: 400px;
}

.project-info-gallery video {
  width: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 700px) {
  .project-info-gallery video {
    width: 90%;
  }
}

.project-info-gallery .small {
  max-width: 100px;
}

@media (max-width: 700px) {
  .project-info-gallery .small {
    padding: 2px;
    max-width: 30%;
  }
}

.project-info-gallery .medium {
  max-width: 200px;
}

@media (max-width: 700px) {
  .project-info-gallery .medium {
    padding: 2px;
    max-width: 30%;
  }
}

.project-info-gallery .large {
  max-width: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 700px) {
  .project-info-gallery .large {
    padding: 2px;
    max-width: 100%;
  }
}

.project-info-gallery .rounded {
  border-radius: 10px;
}

.project-info-gallery figcaption {
  padding: 10px;
  font-size: 0.8em;
  width: 380px;
  background-color: lightgrey;
}

@media (max-width: 700px) {
  .project-info-gallery figcaption {
    padding: 2px;
    width: 100%;
  }
}

@-webkit-keyframes grow-bg-image {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 110%;
  }
}

@keyframes grow-bg-image {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 110%;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes hover-up {
  0% {
    margin-top: 10px;
  }
  100% {
    margin-top: 5px;
  }
}

@keyframes hover-up {
  0% {
    margin-top: 10px;
  }
  100% {
    margin-top: 5px;
  }
}
/*# sourceMappingURL=site.css.map */